.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid;
}

.nav-items >ul {
    list-style-type: none;
    display: flex;

}

.nav-items >ul > li{
    padding:20px;
}

.logo{
    width:100px;
}