.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid;
}

.nav-items >ul {
    list-style-type: none;
    display: flex;

}

.nav-items >ul > li{
    padding:20px;
}

.logo{
    width:100px;
}

.card{
    border:1px solid black;
    width:200px;
    padding: 15px;
    margin:10px;
    height:200px;
   
}

.card > img {
    width: 208px;
    height: 82px;
}